<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <!-- <add key="syncfusion" value="https://api.syncfusion.com/nuget/production/nuget/get/" /> -->
  </packageSources>
  <packageSourceCredentials>
    <syncfusion>
      <add key="Username" value="your-username" />
      <add key="ClearTextPassword" value="your-password" />
    </syncfusion>
  </packageSourceCredentials>
</configuration>
